name: Build Binaries

on:
  push:
    branches:
      - main
  release:
    types: [created]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        arch: [amd64]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'  # Укажите нужную версию Python

      - name: Install PyInstaller
        run: pip install pyinstaller

      - name: Install dependencies
        run: |
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Build Executable
        run: |
          if [ "${{ runner.os }}" == "Windows" ]; then
            pyinstaller --onefile --distpath=./bin/NetCalc.exe NetCalc.py
          else
            pyinstaller --onefile --distpath=./bin/NetCalc NetCalc.py
          fi

      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: binary-${{ runner.os }}-${{ matrix.arch }}
          path: ./bin/*

  linux-arm64:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install PyInstaller
        run: pip install pyinstaller

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Build Executable
        run: pyinstaller --onefile --distpath=./bin/NetCalc NetCalc.py

      - name: Upload Linux ARM64 Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: NetCalc-linux-arm64
          path: ./bin/*
